url: "" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "" # the subpath of your site, e.g. /blog
title: "Frances Willoughby"

collections:
    artwork:
        output: true
exclude: ['README.md', 'Gemfile.lock', 'Gemfile']
