<header>
  <h1 class="c-title">Frances Willoughby</h1>
  <nav class="navbar">
    <ul class="navbar__list">
      {% for item in site.data.navigation %}
        <li class="navbar__item">
          <a href="{{ item.link }}" class="navbar__link{% if page.url == item.link %} navbar__link--active{% endif %}">{{ item.name }}</a>
          {% assign dropdown = site.artwork | where:"type", item.name %}
          {% assign dropdown_size = dropdown | size %}
          {% if dropdown_size > 0 %}
            {% assign active_art = dropdown | where:"url", page.url | size %}
            <ul class="navbar__dropdown{% if active_art > 0 %} navbar__dropdown--active {% endif %}">
              {% for artwork in dropdown %}
                <li class="navbar__dropdownitem">
                  <a href="{{ artwork.url }}" class="navbar__link {% if page.url == artwork.url %}navbar__link--active{% endif %}">{{ artwork.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
