<header>
    <h1 class="c-title"><a href="/">Frances Willoughby</a></h1>
  <nav class="navbar">
    <input type="checkbox" id="mobilebtn" class="navbar__mobilebtn" checked>
    <label for="mobilebtn" class="navbar__mobilebtnlabel"></label>
    <ul class="navbar__list">
      {% for item in site.data.navigation %}
        <li class="navbar__item">
          {% if item.name == "About" %}
            <span class="navbar__link{% if page.url == item.link %} navbar__link--active{% endif %}">{{ item.name }}</span>
            <ul class="navbar__dropdown">
              {% for subitem in item.links %}
                <li class="navbar__dropdownitem">
                  <a href="{{ subitem.link }}" class="navbar__link{% if page.url == subitem.link %} navbar__link--active{% endif %}">{{ subitem.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% elsif item.name == "Portfolio" %}
            {% assign active_arttype = site.arttype | where:"url", page.url %}
            <span>
              <a href="{{ item.link }}" class="navbar__link {% if page.url == item.link %} navbar__link--active{% endif %}">{{ item.name }}</a>
              {% if active_arttype.size > 0 %} > <span class="navbar__link navbar__link--active">{{ active_arttype.first.title }}</span> {% endif %}
            </span>
            <ul class="navbar__dropdown">
              {% assign sorted_arttype = site.arttype | sort: "order" %}
              {% for arttype in sorted_arttype %}
                <li class="navbar__dropdownitem">
                  <a href="{{ arttype.url }}" class="navbar__link {% if page.url == arttype.url %}navbar__link--active{% endif %}">{{ arttype.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <a href="{{ item.link }}" class="navbar__link{% if page.url == item.link %} navbar__link--active{% endif %}">
              {{ item.name }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
