@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700');

$backgroundColor: white;
$bodyColor: black;
$bodyFont: "Quattrocento Sans", sans-serif;
$navFont: "Quattrocento Sans", sans-serif;

$siteWidth: 900px;
$mobileWidth: 700px;
