@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

$backgroundColor: white;
$bodyColor: black;
$bodyFont: "Quattrocento Sans", sans-serif;
$navFont: "Quattrocento Sans", sans-serif;

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    font-weight: 400;
    margin: 0 auto;
    width: 75%;
    max-width: 1024px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#header {
    background: $backgroundColor;
    letter-spacing: .1em;
    color: grey;
    padding-bottom: 2em;
    top: 0;
}

#title {
    font-size: 6.5vh;
    font-weight: 700;
    letter-spacing: .04em;
    text-transform: uppercase;
    margin-bottom: 0.1em;
}

nav {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    text-align: center;
}

nav a {
    text-transform: uppercase;
    transition: color 1s;
}

nav a:hover, nav a:active {
    color: black;
}

#content {
    margin: 0 auto;
    width: 100%;
}

.art-image {
    display: block;
    width: 100%;
    //margin: 0 auto;
}

#art-list {
    display: flex;
    flex-wrap: wrap;
}

figure.art-preview {
    height: 30vmin;
    flex-grow: 1;
    position: relative;
    transition: box-shadow 0.4s ease-in-out;
}

figure.art-preview:hover {
    box-shadow: inset 0 5px 15px 5px rgba(255, 255, 255, 0.5);
}

figure.art-preview img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    // these lines allow the shadow to show
    position: relative;
    z-index: -2;
}

figure.art-preview figcaption {
    font-weight: 400;
    font-size: 2vmin;
    letter-spacing: .17em;
    line-height: 1.3em;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    color: white;
    text-align: center;
    position: absolute;
    left: 1em;
    top: 90%;
}
