@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

$backgroundColor: white;
$bodyColor: black;
$bodyFont: "Quattrocento Sans", sans-serif;
$navFont: "Quattrocento Sans", sans-serif;

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    font-weight: 400;
    margin: 0 auto;
    width: 95%;
    max-width: 900px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#header {
    background: $backgroundColor;
    color: grey;
    padding-bottom: 1px;
}

#title {
    font-size: 5.5vh;
    font-weight: 400;
    letter-spacing: .04em;
    text-transform: uppercase;
    margin-bottom: 0.1em;
}

nav {
    font-weight: 400;
    letter-spacing: .1em;

    ul {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 

    a {
        text-transform: uppercase;
        transition: color 1s;
    }

    a:hover, a:active {
        color: black;
    }

    ul li {
        white-space: nowrap;
        position: relative;
        z-index: 2;

        ul {
            display: block;
            position: absolute;
            top: 1em;
            padding: 0.25em;
            //background: rgba(255, 255, 255, 0.6);
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
        }

        ul li {
            padding-top: 5px;
        }
    }

    ul li:hover ul {
        visibility: visible;
        opacity: 1;
    }

    @media screen and ( max-width: 700px ) {
        ul {
            height: 0;
            flex-direction: column;
            align-items: flex-start;
        }

        ul:hover {
            height: auto;
        }
    }
}



#content {
    margin: 0 auto;
    width: 100%;
}

.art-image {
    display: block;
    width: 100%;
}

#art-list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    a {
        display: block;
        flex: 0 1 auto;
    }

    figure {
        margin: 1em auto;
        height: 30vmin;
        position: relative;
        transition: background 0.3s ease-in-out;
    }

    figure:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    figure img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // these lines allow the hover effect to show
        position: relative;
        z-index: -2;
    }

    figure figcaption {
        position: absolute;
        left: 1em;
        top: 90%;
        font-weight: 400;
        font-size: 2vmin;
        letter-spacing: .17em;
        line-height: 1.3em;
        text-transform: uppercase;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
        color: white;
    }
}
