@import url(http://fonts.googleapis.com/css?family=Oswald:700|Quattrocento+Sans:400|Quattrocento);

$backgroundColor: white;
$bodyColor: black;
$bodyFont: "Quattrocento Sans", sans-serif;
$titleFont: "Oswald", serif;
$navFont: "Quattrocento Sans", sans-serif;
$pageHeaderFont: "Quattrocento", serif;

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    font-weight: 400;
    margin: 0 auto;
    width: 100%;
}

#content {
    display: block;
    margin: 0 auto;
    width: 80%;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#title {
    font-family: $titleFont;
    font-size: 7.5vh;
    font-weight: 700;
    letter-spacing: .04em;
    text-align: center;
    color: #818181;
}

nav {
    font-family: $navFont;
    font-weight: 400;
    letter-spacing: .04em;
    color: grey;
    text-align: center;
    margin: 2em;
}

nav a {
    margin: 1em;
    text-transform: uppercase;
    color: grey;
    transition: color 1s;
}

nav a:hover, nav a:active {
    color: black;
}


#pageheader {
    height: 25em;
    background-size: 150% auto;
    background-position: 50% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

#pageheader h2 {
    font-family: $pageHeaderFont;
    font-size: 6.5vmin;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.art-image {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 1px;
}

.front-image {
    width: 75%;
}

#art-list {
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

figure.art-preview {
    height: 30vmin;
    flex-grow: 1;
    position: relative;
}

figure.art-preview img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

figure.art-preview figcaption {
    font-family: $pageHeaderFont;
    font-weight: 400;
    font-size: 4vmin;
    letter-spacing: .17em;
    line-height: 1.3em;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    color: lightgray;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
