.art-list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &__link {
        display: block;
        flex: 0 1 auto;
    }

    &__figure {
        margin: 1em auto;
        height: 30vmin;
        position: relative;
        transition: background 0.3s ease-in-out;
    }

    &__figure:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    &__image {
      height: 100%;
      width: 295px;
      object-fit: cover;
      // these lines hide the image behind the hover effect on figure
      position: relative;
      z-index: -2;
    }

    &__caption {
        position: absolute;
        left: 1em;
        top: 90%;
        font-weight: 400;
        font-size: 1.5vmin;
        letter-spacing: .17em;
        text-transform: uppercase;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
        color: white;
    }
}
