.navbar {
  font-weight: 400;
  letter-spacing: .1em;

  &__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 

  &__link {
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover, &:active, &--active {
        color: black;
    }
  }

  &__item {
    white-space: nowrap;
    position: relative;
    z-index: 2;
  }

  @mixin dropdown-normal {
    line-height: 1.1em;
    visibility: visible;
    opacity: 1;
  }

  &__item:hover &__dropdown {
    @include dropdown-normal;
  }

  &__dropdown {
    padding: 0;
    padding-top: 0.25em;
    list-style-type: none;
    position: absolute;
    top: 1em;
    // Animation
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: line-height 0.3s, visibility 0s, opacity 0.3s;

    &--active {
      @include dropdown-normal;
      position: static;
    }
  }

  // Checked = menu is closed
  &__mobilebtn {
    display: none;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    transform: rotate(225deg);
  }

  &__mobilebtn:checked {
    transform: rotate(45deg);
  }


  @media screen and ( max-width: 700px ) {
    &__mobilebtn {
      display: block;
    }

    &__mobilebtn:checked ~ &__list {
      line-height: 0;
    }

    &__mobilebtn:checked ~ &__list * {
      visibility: hidden;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      line-height: 1.1em;
      transition: line-height 0.5s;
    }

    &__dropdown {
      @include dropdown-normal;
      position: static;
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }
}
