---
layout: default
---
<!-- Note: .image is main_image, .images are other images -->
<div class="carousel">
    {% responsive_image_block %}
      path: {{ page.image | remove_first: "/" }}
      class: "art-image"
      sizes: "(max-width: 640px) 470px, (max-width: 960px) 710px, 70vw"
    {% endresponsive_image_block %}
  {% for image in page.images %}
      {% responsive_image_block %}
        path: {{ image | remove_first: "/" }}
        class: "art-image"
        sizes: "(max-width: 640px) 470px, (max-width: 960px) 710px, 70vw"
      {% endresponsive_image_block %}
  {% endfor %}
</div>

<div class="art-description__titlebox">
    <div class="art-description__metadatabox">
      <h2 class="art-description__title">{{ page.title }},</h2>
      <h4 class="art-description__metadata">
      {{ page.year }}{% if page.media_type %}, {{ page.media_type }}{% endif %}{% if page.dimensions %}, {{ page.dimensions }}{% endif %}
      </h4>
    </div>
    <p>{{ page.exhibition }}</p>
    <p class="art-description__description">{{ page.description }}</p>
</div>

