---
layout: default
---
<!-- Note: .image is main_image, .images are other images -->
<div class="carousel">
    {% responsive_image_block %}
      path: {{ page.image | remove_first: "/" }}
      class: "art-image"
      sizes: "(min-width: 640px) 480px, (min-width: 960px) 720px, 950px"
    {% endresponsive_image_block %}
  {% for image in page.images %}
      {% responsive_image_block %}
        path: {{ image | remove_first: "/" }}
        class: "art-image"
        sizes: "(min-width: 640px) 480px, (min-width: 960px) 720px, 950px"
      {% endresponsive_image_block %}
  {% endfor %}
</div>

<div>
    <h2 class="art-description__title">{{ page.title }}</h2>
    {% if page.media_type %}
    <h4 class="art-description__metadata"> {{ page.media_type }} </h4>
    {% endif %}
    {% if page.dimensions %}
    <h4 class="art-description__metadata"> {{ page.dimensions }} </h4>
    {% endif %}
    <h4 class="art-description__metadata">{{ page.year }}</h4>
    <p>{{ page.exhibition }}</p>
    <p>{{ page.description }}</p>
</div>

