---
layout: default
---
<!-- Note: .image is main_image, .images are other images -->
<div class="carousel" data-flickity='{ "imagesLoaded": true, "fullscreen": true, "autoPlay": 5000 }'>
    {% responsive_image_block %}
      path: {{ page.image | remove_first: "/" }}
      class: "art-image"
      sizes: "100vw"
    {% endresponsive_image_block %}
  {% for image in page.images %}
      {% responsive_image_block %}
        path: {{ image | remove_first: "/" }}
        class: "art-image"
        sizes: "100vw"
      {% endresponsive_image_block %}
  {% endfor %}
</div>

<div id="art-description">
    <h1>{{ page.title }}</h1>
    <h3>{{ page.year }}, {{ page.media_type }}</h3>
    <p>{{ page.dimensions }}</p>
    <p>{{ page.exhibition }}</p>
    <p>{{ page.description }}</p>
</div>

