---
layout: default
---

<h2>Education</h2>
{% for item in site.data.cv.education %}
    <p>{{ item.school }}, {{ item.degree }}</p>
{% endfor %}

<h2>Work, Placements and Internships</h2>
{% assign sorted = site.data.cv.work | sort: "dates" | reverse %}
{% for item in sorted %}
<p><span class="cv-list__year">{{ item.dates }}</span> <em>{{ item.job_title }}</em>, {{ item.workplace }}</p>
{% endfor %}
    
<h2>Solo Exhibitions</h2>
{% assign current_year = 0 %}
<div class="cv-list">
{% for item in site.data.cv.solo_exhibitions %}
  {% if current_year != item.year %}
    <p class="cv-list__year">{{ item.year }}</p><p><em>{{ item.title }}</em>, {{ item.place }}</p>
    {% assign current_year = item.year %}
  {% else %}
   <p> </p><p><em>{{ item.title }}</em>, {{ item.place }}</p>
  {% endif %}
{% endfor %}
</div>

<h2>Group Exhibitions</h2>
{% assign current_year = 0 %}
<div class="cv-list">
{% for item in site.data.cv.group_exhibitions %}
  {% if current_year != item.year %}
    <p class="cv-list__year">{{ item.year }}</p><p><em>{{ item.title }}</em>, {{ item.place }}</p>
    {% assign current_year = item.year %}
  {% else %}
   <p> </p><p><em>{{ item.title }}</em>, {{ item.place }}</p>
  {% endif %}
{% endfor %}
</div>

<h2>Curatorial Projects</h2>
{% assign current_year = 0 %}
<div class="cv-list">
{% for item in site.data.cv.curatorial_projects %}
  {% if current_year != item.year %}
    <p class="cv-list__year">{{ item.year }}</p><p><em>{{ item.title }}</em>, {{ item.place }}</p>
    {% assign current_year = item.year %}
  {% else %}
   <p> </p><p><em>{{ item.title }}</em>, {{ item.place }}</p>
  {% endif %}
{% endfor %}
</div>

<h2>Artist Residencies</h2>
{% assign current_year = 0 %}
<div class="cv-list">
{% for item in site.data.cv.artist_residencies %}
  {% if current_year != item.year %}
    <p class="cv-list__year">{{ item.year }}</p><p><em>{{ item.title }}</em>, {{ item.place }}</p>
    {% assign current_year = item.year %}
  {% else %}
   <p> </p><p><em>{{ item.details }}</em>, {{ item.place }}</p>
  {% endif %}
{% endfor %}
</div>

<h2>Publications</h2>
{% assign current_year = 0 %}
<div class="cv-list">
{% for item in site.data.cv.publications %}
  {% if current_year != item.year %}
    <p class="cv-list__year">{{ item.year }}</p><p><em>{{ item.details }}</em>, {{ item.place }}</p>
    {% assign current_year = item.year %}
  {% else %}
   <p> </p><p><em>{{ item.details }}</em>, {{ item.place }}</p>
  {% endif %}
{% endfor %}
</div>
