---
layout: default
---

<h2>Education</h2>
{% for item in site.data.cv.education %}
    <p>{{ item.school }}, {{ item.degree }}</p>
{% endfor %}

<h2>Work, Placements and Internships</h2>
{% assign sorted = site.data.cv.work | sort: "dates" | reverse %}
{% for item in sorted %}
    <p>{{ item.dates }}, {{ item.workplace }}, {{ item.job_title }}</p>
{% endfor %}
    
<h2>Solo Exhibitions</h2>
{% assign sorted = site.data.cv.solo_exhibitions | sort: "year" | reverse %}
{% for item in sorted %}
    <p>{{ item.year }}, {{ item.title }}, {{ item.place }}</p>
{% endfor %}

<h2>Group Exhibitions</h2>
{% assign sorted = site.data.cv.group_exhibitions | sort: "year" | reverse%}
{% for item in sorted %}
    <p>{{ item.year }}, {{ item.title }}, {{ item.place }}</p>
{% endfor %}

<h2>Curatorial Projects</h2>
{% assign sorted = site.data.cv.curatorial_projects | sort: "year" | reverse %}
{% for item in sorted %}
    <p>{{ item.year }}, {{ item.title }}, {{ item.place }}</p>
{% endfor %}

<h2>Publications</h2>
{% assign sorted = site.data.cv.publications | sort: "year" | reverse %}
{% for item in sorted %}
    <p>{{ item.year }}, {{ item.details }}</p>
{% endfor %}
