<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | relative_url }}">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  </head>
  <body>
    {% include header.html %}
    <main>
        {% if page.headerimage %}
            <!--<div id="pageheader" style="background-image: url('assets/images/{{ page.headerimage }}')">
                <h2>{{ page.title }}</h2>
            </div>-->
        {% endif %}
        {{ content }}
    </main>
    {% include footer.html %}
    <!-- These script tags are used to stop a CSS bug in chrome --><script> </script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>
