---
layout: default
---

<div class="art-list art-list--front">
{% for image in page.images %}
  {% assign image_path = "#" %}
  {% for artwork in site.artwork %}
    {% if artwork.image == image %}
      {% assign image_path = artwork.url %}
    {% elsif artwork.images contains image %}
      {% assign image_path = artwork.url %}
    {% endif %}
  {% endfor %}
  <a href="{{ image_path }}">
  <figure class="art-list__figure">
    {% responsive_image_block %}
      path: {{ image | remove_first: "/" }}
      class: "art-list__image"
      sizes: "33vw"
    {% endresponsive_image_block %}
  </figure>
  </a> 
{% endfor %}
</div>

<em>{{ content }}</em>
